.homepage_banner{
    background-size: cover;
    background-position-y: center;
    height: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: auto;
    border-radius: 0 0 20% 20%;
}
.banner_text{
    margin-top: 85px;
}
.banner_btn{
    background-color: #B69256;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    border-color: #00213d00;
    font-size: 17px;
}
.banner_btn:hover{
    background-color: #886d3f;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
.services{
    padding-right: 0px;
    padding-left: 0px;
}
.services_img {
    width: 100%;
    height: inherit;
}
.prices{
    background-color: #f0eded;
    text-align: left;
}
.services_title{
    padding-bottom: 15px;
    margin-left: 10px;
}
.prices p {
    color: #575656;
    margin-left: 10px;
}
.services {
    height: 250px;
    width: 220px;
    overflow: hidden;
}
.services_col{
    width: 660px;
}
.swiper {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-button-prev {
    position: relative;
    height: inherit;
    color: #ffffff;
}
.swiper-button-next{
    position: relative;
    height: inherit;
    color: #ffffff;
}
.slider_container {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 25px;
}
.swiper-button-prev::after {
    font-family: swiper-icons;
    font-size: 34px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: inherit;
    background-color: #B69256;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}
.swiper-button-next::after {
    font-family: swiper-icons;
    font-size: 34px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: inherit;
    background-color: #B69256;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}
.call_us_banner{
    width: inherit;
    height: 100%;
}
.contact_container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.contact.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.contact_banner{
    height: 100%;
    justify-content: center;
    display: flex;
    align-content: center;
}
.contact_btn{
    background-color: #B69256;
    border-color: #B69256;
    color: white;
    height: 50px;
}
.contact_btn:hover{
    background-color: #886d3f;
    border-color: #886d3f;
    color: white;
}
#validationTextarea {
    height: 145px;
}

hr {
    width: 636px;
    margin-left: auto;
    margin-right: auto;
}
.kyrsu_banner {
    height: inherit;
    width: 85%;
}
.kyrsu_text {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.home_btn{
    background-color: #B69256;
    border-color: #B69256;
    color: white;
}
.home_btn:hover{
    background-color: #886d3f;
    border-color: #886d3f;
    color: white;
}
.btn.home_btn {
    height: 50px;
    width: 240px;
    margin-top: 20px;
}
.kyrsu_hr{
    width: 636px;
    margin-left: auto;
    margin-right: auto;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000; /* Помещаем видео под остальные элементы */
}
#main_menu .nav-link {
    color: white;
}
.appointment_banner{
    background-color: #B69256;
    overflow: hidden;
    height: 221px;
}
.appointment_banner .btn.home_btn {
    color: #B69256;
    height: inherit;
    background-color: #ffebcd00;
    border: none;
    margin-top: -6px;
    text-align: center;
}
.appointment_banner_img {
    height: auto;
    width: 53%;
}
.appointment_banner_img_foot{
    width: 44%;
    margin-top: -26px;
}
.appointment_banner_master_hand{
    height: auto;
    width: 45%;
}
.master_banner {
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-y: -37px;
    height: inherit;

}
.master_banner .row {
    height: inherit;
}
@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg); /* Наклон влево */
    }
    100% {
        transform: rotate(15deg); /* Наклон вправо */
    }
}

.master_banner {
    transition: transform 0.5s; /* Плавный переход */
}

.master_banner:hover {
    animation: tilt 1s ease-in-out infinite alternate; /* Анимация при наведении */
}
#header{
  position: fixed!important;
}