.alert.alert-success {
    margin-top: 20px;
}
.alert.alert-danger{
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
.register_banner{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    width: inherit;
    height: auto;
}
.register_btn{
    height: 50px;
    background-color: #B69256;
    border-color: #B69256;
    color: white;
}
.register_btn:hover{
    background-color: #886d3f;
    border-color: #886d3f;
    color: white;
}
.card.card-registration {
    width: 85%;
    height: auto;
}
.register_input{
    height: 50px;
}
.fa-phone{
    color: #B69256;
}
.phone{
    font-size: x-large;
    color: #B69256;
}
.register_url{
    color: #B69256;
    text-decoration: underline;
}
.register_url:hover{
    color: #886d3f;
    text-decoration: underline;
}
.const_container{
    display: none;
}
.telegram_btn {
    display: flex;
    background-color: #B69256;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    width: fit-content;
    height: 35px;
    align-items: center;
    border-radius: 5px;
}
.validationServer03FeedbackTelegram{
    display: none;
}
.telegram_btn:hover{
    background-color: #886d3f;
    border-color: #886d3f;
    color: white;
}
.telegram_btn_modal{
    height: 50px;
    display: none;
}