{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<style>
    #login_form_section {
        margin-top: 150px;
    }

    #login_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-floating {
        width: 50%;
        padding-bottom: 25px;
    }
    .form-floating.form_input {
        margin: auto;
    }
</style>
    <section id="login_form_section" class="py-3 text-center container w-100 h-100">
        <form id="login_form" action="{{ path('app_login') }}" method="post">
            <h1 class="h3 mb-3 fw-normal w-100">Please sign in</h1>

            <div class="form-floating form_input">
                <input type="email" class="form-control" name="_username" id="username" placeholder="name@example.com" value="{{ last_username }}">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating form_input">
                <input type="password" class="form-control" name="_password" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
            <button class="btn btn-primary w-50 mx-auto py-2" type="submit">Sign in</button>
        </form>
    </section>

{% endblock %}