{% extends 'base.html.twig' %}
    {% block body %}
        <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
        <section class="register_section">
            <div class="container py-5 h-100">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="card card-registration my-4 d-flex ">
                            <div class="row ">
                                <div class="col">
                                    <img src="{{ asset('images/register.jpg') }}"
                                         alt="Sample photo" class=" register_banner"
                                         />
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <div class="register_card card-body text-black d-flex justify-content-center align-items-center flex-column">
                                        <h3 class="mb-5 text-center">Приєднайтеся до нас:</h3>

                                        <div class="row w-100">
                                            <form method="post" action="{{ path('register') }}">
                                                <div class="form-group pb-4">
                                                    <input class="form-control register_input" type="email" id="email" name="email" placeholder="Email"
                                                           required>
                                                    <div id="validationServer03FeedbackEmail" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <div class="form-group pb-4">
                                                <input class="form-control register_input" type="text" id="firstname" name="firstname"
                                                      placeholder="Ім'я" required>
                                                    <div id="validationServer03FeedbackFirstName" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <div class="form-group pb-4">
                                                    <input class="form-control register_input" type="text" id="lastname"
                                                           placeholder="Прізвище"  name="lastname" required>
                                                    <div id="validationServer03FeedbackLastName" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <div class="form-group pb-4">
                                                    <input class="form-control register_input" type="text" id="phone"
                                                           placeholder="Ваш телефон"  name="phone" required>
                                                    <div id="validationServer03FeedbackPhone" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <div class="form-group pb-4">
                                                    <input class="form-control register_input" type="text" id="telegram"
                                                           placeholder="Ваш telegram"  name="telegram" required>
                                                    <div id="validationServer03FeedbackTelegram" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <div class="form-group pb-4">
                                                    <input class="form-control register_input" type="password" id="password"
                                                           placeholder="Пароль" name="password" required>
                                                    <div id="validationServer03FeedbackPassword" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <div class="form-group pb-4">
                                                    <input class="form-control register_input" type="password" id="confirm_password"
                                                           placeholder="Підтвердіть ваш пароль" name="confirm_password" required>
                                                    <div id="validationServer03FeedbackConfirmPassword" class="invalid-feedback">
                                                        Ви не правильно ввели дані.
                                                    </div>
                                                </div>
                                                <button class="form-control register_btn" type="submit"> Реєстрація</button>
                                            </form>
                                            <div class="alert alert-success" style="display: none" role="alert"></div>
                                            <div class="alert alert-danger" style="display: none" role="alert"></div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{{ asset('js/post_registration.js') }}"></script>

    {% endblock %}