{% extends 'base.html.twig' %}
    {% block body %}
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="{{ asset('images/register.jpg') }}"
                                         alt="Sample photo" class="img-fluid"
                                         style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h3 class="mb-5 text-uppercase">Приєднайтеся до нас:</h3>

                                        <div class="row">
                                            <form method="post" action="{{ path('register') }}">
                                                <label for="email">Email:</label><br>
                                                <input type="email" id="email" name="email" required><br><br>

                                                <label for="firstname">First Name:</label><br>
                                                <input type="text" id="firstname" name="firstname" required><br><br>

                                                <label for="lastname">Last Name:</label><br>
                                                <input type="text" id="lastname" name="lastname" required><br><br>

                                                <label for="password">Password:</label><br>
                                                <input type="password" id="password" name="password" required><br><br>

                                                <label for="confirm_password">Confirm Password:</label><br>
                                                <input type="password" id="confirm_password" name="confirm_password" required><br><br>

                                                <input type="submit" value="Register">
                                            </form>
                                        </div>

                                        <div class="alert alert-success" style="display: none" role="alert"></div>
                                        <div class="alert alert-danger" style="display: none" role="alert"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{{ asset('js/post_registration.js') }}"></script>

    {% endblock %}