{% extends 'base.html.twig' %}

     {% block body %}
          <section class="py-3 text-center container">
               <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                         <h1 class="fw-bolder">Про нас </h1>
                         <hr>
                         <p class="lead text-body-secondary">Ваша гармонія - наша майстерність!</p>
                         <hr>
                         <p>
                              Звільніть себе від стресу та повсякденних турбот у нашому салоні епіляції та манікюру! Наші
                              досвідчені майстри створять атмосферу затишку та розслаблення, а ви насолоджуватиметесь
                              найвищим рівнем обслуговування. Відчуйте себе красивою та доглянутою завдяки нашим послугам
                              епіляції та професійному манікюру!
                         </p>
                    </div>
               </div>
          </section>
     {% endblock %}